* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-image: url(../images/cookie_girl.jpg);
  background-size: cover;
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #333333;
}

.container {
  margin-top: 50px;
}

img {
  width: 180px;
}

table {
  margin: 0 auto;
}

a {
  text-decoration: none;
}